@import "tailwindcss";
@import "@nuxt/ui";

@import "./palette";

@source inline("text-{heal,acid,bludgeoning,cold,fire,force,lightning,necrotic,piercing,poison,psychic,radiant,slashing,thunder,}");

@theme {
  --font-inknut-antiqua: 'Inknut Antiqua', serif;
  --font-playfair: 'Playfair', serif;
}

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
}